<a href="https://colab.research.google.com/github/pradeep-pro/DataHour/blob/main/Python_fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Variables and Data Types

**Numbers**

In [ ]:
# Integer
age = 38
print(age)

# Floating
weight = 6.5
print(weight)

**Strings**

In [ ]:
name = "John Doe"
print(name)

message = 'Hello, World!'
print(message)

# slice
print(message[0])
print(message[:3])
print(message[2:4])

# concatenating
print("Welcome " + name)

John Doe
Hello, World!
llo

**Boolean**

In [ ]:
is_student = True
print(is_student)

has_passed_exam = False
print(has_passed_exam)

## Collections and Data Structures

**Lists**

In [ ]:
my_list = [1, 2, 'hello', True]
print(my_list)

fruits = ["apple", "banana", "orange"]
print(fruits)

numbers = [1, 2, 3, 4, 5]
print(numbers)

# slice
print(fruits[0])
print(fruits[:2])
print(fruits[2:3])

# concatenating
print(numbers * 2)
print(numbers + fruits)

# length
print(len(fruits))

**Dictionaries**

In [ ]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(person)

**Tuples**

In [ ]:
my_tuple = (1, 2, 'hello', True)
print(my_tuple)

**Sets**

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

## Control Structures

**Conditional Statements**

In [ ]:
age = 25

if age < 18:
    print("You are underage.")
elif age >= 18 and age < 65:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

**Loops**

In [ ]:
fruits = ["apple", "banana", "cherry"]

# Using a for loop to iterate over a list
for fruit in fruits:
    print(fruit)

# Using a while loop to repeat a block of code
count = 0
while count < 5:
    print("Count:", count)
    count += 1

## Functions and Modules

**Functions**

In [ ]:
def square(num):
    return num ** 2

result = square(5)
print(result)

25

**Lambda functions**

In [ ]:
sum = lambda arg1, arg2: arg1 + arg2;

# Now you can call sum as a function
print(sum( 10, 20 ))

30

In [ ]:
my_list = [1, 2, 3, 4, 5]
list(filter(lambda x: x > 2, my_list))
[3, 4, 5]

[3, 4, 5]

**Import a module**

In [ ]:
import module_name

result = module_name.function_name(arguments)

**Import specific functions from a module**

In [ ]:
from module_name import function_name

result = function_name(arguments)

**Import a module with an alias**

In [ ]:
import module_name as alias

result = alias.function_name(arguments)

**Example using math module**

In [ ]:
import math

result = math.sqrt(25)
print(result)  # Output: 5.0

5.0

## File Handling

**Open a file**

In [ ]:
file = open('file.txt', 'r')
# Opens the file.txt in read mode

**Read from a file**

In [ ]:
content = file.read()
content = file.readlines()

**Write to a file**

In [ ]:
file.write('Hello, World!')  # Writes the specified content to the file

**Close the file**

In [ ]:
file.close()  # Closes the file

## Exception Handling

In [ ]:
try:
    # Code that may raise an exception
    # ...
except ExceptionType:
    # Code to handle the exception
    # ...

In [ ]:
try:
    file = open('file.txt', 'r')
    # Code to work with the file
    # ...
except FileNotFoundError:
    print("The file does not exist.")
except Exception as e:
    print("An error occurred:", str(e))
finally:
    file.close()
# Ensures the file is closed even if an exception occurred

## Mini-challenge

In [ ]:
import math

def calculate_circle_area(radius):
    area = math.pi * radius ** 2
    return area

# Prompt the user for the radius of the circle
radius = 6

# Calculate the area of the circle
area = calculate_circle_area(radius)

# Print the result
print("The area of the circle is:", area)

The area of the circle is: 113.09733552923255